
@{
    ViewData["Title"] = "Notify";
}
<br/><br/>
<div class="row">
    <div class="col-md-8 offset-2">
<h2>Application submitted successfully</h2>
<br/><br/>
<h5>Hi There @ViewBag.name!!!</h5>
<p class="text-info">Your application for applying as a vendor has been received successfully.Please wait for our confirmation.Thank you !!!</p>
<a class="btn btn-primary form-check" asp-controller="Home" asp-action="Index">Go Back Home</a>
</div>
</div>